.searchInputs{
  margin-top: 105px;
  display: block;
  
}
.search{
  width: 100%;
 }
 .elements
 {
  width:80%;
 }
 .searchxinputx {

  background-color: rgba(255, 255, 255, 1) !important;
  border-radius: 5px;
  color: #555;
  height: 60px;
  line-height: 180%;
  padding: 0 190px 0 10px;

 
    background-image: none;
    box-sizing: border-box;
    border: none;
    -moz-box-sizing: border-box;
    
    outline: none;
    width: 70%;

    font-size: 240%;

    
      writing-mode: horizontal-tb !important;
      
      text-rendering: auto;
      color: fieldtext;
      letter-spacing: normal;
      word-spacing: normal;
      line-height: normal;
      text-transform: none;
      text-indent: 0px;
      text-shadow: none;
      display: inline-block;
      text-align: start;
      appearance: auto;
      -webkit-rtl-ordering: logical;
      cursor: text;
      background-color: field;
      margin: 0em;
      padding: 1px 2px;
      border-width: 2px;
      border-style: inset;
      border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
      border-image: initial;
  
}

/* .search button{
margin: ;
height: 60px;
width: 24%;

} */
  /* background-color: white;
  border: 0;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
  padding: 15px;
  height: 30px;
  width: 300px; */



.SearchResults{
 background-color: white;
 margin-top: 10px;
 display: block;
 height: auto;
  width: 98.5%;
  padding: 5px;
 
}
.card {
margin-top: 5px;
color:black;
}
.card-grid li{
font-size: 200%;
  margin-left: -37px;
  padding: 10px;
  margin-top: 15px;
   writing-mode: horizontal-tb !important;
   cursor: pointer;

}
.card-grid li:hover{
background-color: lightgrey ;
}
ul {
list-style-type: none;
}
 

.card::-webkit-scrollbar{
display: none;
}
.card-image{

}

#clearBtn {
 cursor: pointer;
}


.search_btn
{
  vertical-align: middle !important;
  margin-top: 5px !important;
}
.export_btn
{
  vertical-align: middle !important;
  margin-top: 5px !important;
}

.searchIcon,.exportIcon{

  height:30px;
  vertical-align: middle;
  margin:0px;
  padding:0px;
  margin-top: -10px;
  margin-bottom: -10px;
  
}
.errors{
  color: red;

}

.bd-card
{
 margin-top:20px
}

.bd-checkbox
{
  height: 20px !important;
  width: 20px !important;
  margin-right: 8px !important;
  margin-top: 5px !important;
  cursor: pointer !important;
}
.bd-label
{
 font-size:20px !important;
  vertical-align:top !important;
  cursor: pointer;
}

.bd-card-grid
{
  text-align:left;
  margin-left:60px;
}