.root {
  background-color: white;
  border-radius: 8px;
  margin-top: 16px;
  border: 1px solid #e2e0e2;
  padding: 12px;
}

.treeItem {
  cursor: default !important;
  margin-right: 12px !important;
}

.treeItem strong {
  white-space: nowrap;
}

.treeItem > div {
  display: flex;
  align-items: flex-start;
}

.treeItem svg:first-child {
  font-size: 28px !important;
  padding: 2px !important;
  margin-top: 10px;
  margin-left: 14px;
  border-radius: 8px;
  background: #e2e0e2;
}

.item {
  display: flex;
  align-items: flex-start;
  padding: 6px;
}

.itemContent {
  display: flex;
  align-items: flex-start;
  gap: 14px;
  padding: 8px 2px 0;
  width: fit-content;
}

.itemContent strong {
  padding-right: 6px;
}
