.root {
  background-color: white;
  border-radius: 8px;
  margin-top: 16px;
  border: 1px solid #e2e0e2;
  padding: 12px;
}

.treeItem {
  cursor: default !important;
  margin-right: 12px !important;
}

.treeItem strong {
  white-space: nowrap;
}

.treeItem > div {
  display: flex;
  align-items: flex-start;
}

.treeItem svg:first-child {
  font-size: 28px !important;
  padding: 2px !important;
  margin-top: 10px;
  margin-left: 14px;
  border-radius: 8px;
  background: #e2e0e2;
}

.item {
  display: flex;
  align-items: flex-start;
  padding: 6px;
}

.fixedTopParent {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background: #fff;
  width: 100%;
  max-width: 1100px;
  min-height: 95px;
  max-height: 95px;
  margin: auto;
  box-shadow: 1px 1px 10px 2px #4444443b;
  border-radius: 0 0 8px 8px;
  z-index: 1000;
}

.fixedTopParent .dropperWraper {
  display: none;
}

.itemContent {
  margin: 0;
  padding: 8px 2px 0;
  width: fit-content;
}

.itemContent span {
  color: #4d4d4d;
}

.itemContent strong {
  padding-right: 6px;
}

.dropperWraper {
}

.dropper {
  display: flex;
  align-items: center;
  background-color: #44b3ea !important;
  color: #fff !important;
  height: 24px;
  width: fit-content;
  padding-right: 14px;
  border-radius: 8px 8px 0 0;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

.dropper > svg {
  background: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

.dropContent {
  display: none;
  background-color: #f7f7f7;
  border-bottom: 1px solid #44b3ea;
  color: #000;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 0 0 8px 8px;
  white-space: pre-line;
}

.dropContentOpen {
  display: block;
}
